.liquidChrome-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: transparent;
}

.liquidChrome-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
